body {
    background-image: url("../images/background.jpg");
    background-size: 100%;
}
.section {
    margin-top: 10%;
    padding: 25px;
    background-color: rgba(29, 31, 32, 0.781);
}
.title {
    font-family: 'Monoton', cursive;
    font-size: 75px;
}
#quiz-body{
    font-family: 'Allerta Stencil', sans-serif;
    color: rgb(1, 160, 233);
}
#time-rem {
    color: rgb(159, 194, 201);
}