body {
    background-image: url("../images/background.jpg");
    background-size: 100%;
}
.section {
    margin-top: 5%;
    padding: 25px;
    border-radius: 12%;

}
.title {
    text-align: center;
}